In [1]:
import numpy as np
import pandas as pd
import pathlib as fl
import os as os
from PIL import Image

labs = pd.read_csv('labels.csv')
routes = pd.read_csv('routes.csv')

In [2]:
labs = labs.drop(labels = ['Unnamed: 0'], axis = 1)
routes = routes.drop(labels = ['Unnamed: 0'], axis = 1)

In [3]:
routes['dup'] = routes.duplicated(subset = ['1x0', '1x1', '1x2', '1x3', '1x4', '1x5', '1x6', '1x7', '1x8', '1x9', '1x10', '2x0', '2x1', '2x2', '2x3', '2x4', '2x5', '2x6', '2x7', '2x8', '2x9', '2x10', '3x0', '3x1', '3x2', '3x3', '3x4', '3x5', '3x6', '3x7', '3x8', '3x9', '3x10', '4x0', '4x1', '4x2', '4x3', '4x4', '4x5', '4x6', '4x7', '4x8', '4x9', '4x10', '5x0', '5x1', '5x2', '5x3', '5x4', '5x5', '5x6', '5x7', '5x8', '5x9', '5x10', '6x0', '6x1', '6x2', '6x3', '6x4', '6x5', '6x6', '6x7', '6x8', '6x9', '6x10', '7x0', '7x1', '7x2', '7x3', '7x4', '7x5', '7x6', '7x7', '7x8', '7x9', '7x10', '8x0', '8x1', '8x2', '8x3', '8x4', '8x5', '8x6', '8x7', '8x8', '8x9', '8x10', '9x0', '9x1', '9x2', '9x3', '9x4', '9x5', '9x6', '9x7', '9x8', '9x9', '9x10', '10x0', '10x1', '10x2', '10x3', '10x4', '10x5', '10x6', '10x7', '10x8', '10x9', '10x10', '11x0', '11x1', '11x2', '11x3', '11x4', '11x5', '11x6', '11x7', '11x8', '11x9', '11x10', '12x0', '12x1', '12x2', '12x3', '12x4', '12x5', '12x6', '12x7', '12x8', '12x9', '12x10', '13x0', '13x1', '13x2', '13x3', '13x4', '13x5', '13x6', '13x7', '13x8', '13x9', '13x10', '14x0', '14x1', '14x2', '14x3', '14x4', '14x5', '14x6', '14x7', '14x8', '14x9', '14x10', '15x0', '15x1', '15x2', '15x3', '15x4', '15x5', '15x6', '15x7', '15x8', '15x9', '15x10', '16x0', '16x1', '16x2', '16x3', '16x4', '16x5', '16x6', '16x7', '16x8', '16x9', '16x10', '17x0', '17x1', '17x2', '17x3', '17x4', '17x5', '17x6', '17x7', '17x8', '17x9', '17x10', '18x0', '18x1', '18x2', '18x3', '18x4', '18x5', '18x6', '18x7', '18x8', '18x9', '18x10'], keep = False)

In [4]:
routes.index = routes['Name']
routes = routes.drop(labels =['Name'], axis = 1)
routes

,1x0,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,18x2,18x3,18x4,18x5,18x6,18x7,18x8,18x9,18x10,dup
Name,,,,,,,,,,,,,,,,,,,,,
# E-Z WARMUP,N,N,N,N,N,N,N,N,N,N,...,N,N,N,N,N,N,F,N,N,False
##1,N,N,N,N,N,N,N,N,N,N,...,N,N,F,N,N,N,N,N,N,False
##2,N,N,N,N,N,N,N,N,N,N,...,N,N,N,N,N,N,F,N,N,False
##3,N,N,N,N,N,N,N,N,N,N,...,N,N,N,N,N,N,N,N,F,False
##4,N,N,N,N,N,N,N,N,N,N,...,N,N,N,N,N,N,F,N,N,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZZZZZZZZZZ,N,N,N,N,N,N,N,N,N,N,...,N,N,N,N,F,N,N,N,N,True
[Jump city,N,N,N,N,N,N,N,N,N,N,...,N,F,N,N,N,N,N,N,N,True
] V5-6,N,N,N,N,N,N,N,N,N,N,...,N,N,N,N,F,N,N,N,N,False
_TEST1,N,N,N,N,N,N,N,N,N,N,...,N,N,N,N,F,N,N,N,N,False
â€œSKY AND SAND â€œ,N,N,N,N,N,N,N,N,N,N,...,N,F,N,N,N,N,N,N,N,True

In [5]:
labs = labs.join(routes, on = 'Name',how = 'left')

In [6]:
labs['dup'] = labs.duplicated(subset = ['1x0', '1x1', '1x2', '1x3', '1x4', '1x5', '1x6', '1x7', '1x8', '1x9', '1x10', '2x0', '2x1', '2x2', '2x3', '2x4', '2x5', '2x6', '2x7', '2x8', '2x9', '2x10', '3x0', '3x1', '3x2', '3x3', '3x4', '3x5', '3x6', '3x7', '3x8', '3x9', '3x10', '4x0', '4x1', '4x2', '4x3', '4x4', '4x5', '4x6', '4x7', '4x8', '4x9', '4x10', '5x0', '5x1', '5x2', '5x3', '5x4', '5x5', '5x6', '5x7', '5x8', '5x9', '5x10', '6x0', '6x1', '6x2', '6x3', '6x4', '6x5', '6x6', '6x7', '6x8', '6x9', '6x10', '7x0', '7x1', '7x2', '7x3', '7x4', '7x5', '7x6', '7x7', '7x8', '7x9', '7x10', '8x0', '8x1', '8x2', '8x3', '8x4', '8x5', '8x6', '8x7', '8x8', '8x9', '8x10', '9x0', '9x1', '9x2', '9x3', '9x4', '9x5', '9x6', '9x7', '9x8', '9x9', '9x10', '10x0', '10x1', '10x2', '10x3', '10x4', '10x5', '10x6', '10x7', '10x8', '10x9', '10x10', '11x0', '11x1', '11x2', '11x3', '11x4', '11x5', '11x6', '11x7', '11x8', '11x9', '11x10', '12x0', '12x1', '12x2', '12x3', '12x4', '12x5', '12x6', '12x7', '12x8', '12x9', '12x10', '13x0', '13x1', '13x2', '13x3', '13x4', '13x5', '13x6', '13x7', '13x8', '13x9', '13x10', '14x0', '14x1', '14x2', '14x3', '14x4', '14x5', '14x6', '14x7', '14x8', '14x9', '14x10', '15x0', '15x1', '15x2', '15x3', '15x4', '15x5', '15x6', '15x7', '15x8', '15x9', '15x10', '16x0', '16x1', '16x2', '16x3', '16x4', '16x5', '16x6', '16x7', '16x8', '16x9', '16x10', '17x0', '17x1', '17x2', '17x3', '17x4', '17x5', '17x6', '17x7', '17x8', '17x9', '17x10', '18x0', '18x1', '18x2', '18x3', '18x4', '18x5', '18x6', '18x7', '18x8', '18x9', '18x10'])

In [7]:
labs[labs['dup'] == True]

,Name,Creator,Repeats,Grade,Type,Stars1,Stars2,1x0,1x1,1x2,...,18x2,18x3,18x4,18x5,18x6,18x7,18x8,18x9,18x10,dup
77,FROMAGE A PATE DURE,Kyle Knapp,242 repeats,6C+ (User grade 6C+),Feet follow hands,eee,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
94,OAP WARM UP.,Brett Duffield,294 repeats,6B+ (User grade 6B+),Feet follow hands,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
158,ACGS5,bkkim,27 repeats,6B+ (User grade 6B+),Feet follow hands,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
211,POGO,luke hutcheson,5824 repeats,7A (User grade 7A),Feet follow hands,NaN,NaN,N,N,N,...,N,N,N,N,F,N,N,N,N,True
217,PLEVEN DA SI! EBE,emo_muxi,5 repeats,7C+ (User grade 7C+),Feet follow hands,eee,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50582,ATAUALPA BRUSHER,Calvin,1 climber has repeated this problem,6C+ (User grade 6C+),Feet follow hands,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
50583,THE CLOUDS BENEATH US,Ren,Be the first to repeat this problem,6C+,Feet follow hands,eee,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
50584,LENTILS,Senéi,2 repeats,6B+ (User grade 6B+),Feet follow hands,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
50587,LUC! DENTRO,jimbojambo.,1 climber has repeated this problem,6B+ (User grade 6B+),Feet follow hands,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
50589,BRAP IT2,dflacker,4repeats,7A+ (User grade 7A+),Feet follow hands,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True

In [8]:
# Cut to relavent data:

smaller = labs.drop(labels = ['Stars1', 'Stars2', 'Type', 'dup'], axis = 1)

In [9]:
smaller = smaller.dropna()

In [10]:
smaller = smaller.drop_duplicates(subset = ['1x0', '1x1', '1x2', '1x3', '1x4', '1x5', '1x6', '1x7', '1x8', '1x9', '1x10', '2x0', '2x1', '2x2', '2x3', '2x4', '2x5', '2x6', '2x7', '2x8', '2x9', '2x10', '3x0', '3x1', '3x2', '3x3', '3x4', '3x5', '3x6', '3x7', '3x8', '3x9', '3x10', '4x0', '4x1', '4x2', '4x3', '4x4', '4x5', '4x6', '4x7', '4x8', '4x9', '4x10', '5x0', '5x1', '5x2', '5x3', '5x4', '5x5', '5x6', '5x7', '5x8', '5x9', '5x10', '6x0', '6x1', '6x2', '6x3', '6x4', '6x5', '6x6', '6x7', '6x8', '6x9', '6x10', '7x0', '7x1', '7x2', '7x3', '7x4', '7x5', '7x6', '7x7', '7x8', '7x9', '7x10', '8x0', '8x1', '8x2', '8x3', '8x4', '8x5', '8x6', '8x7', '8x8', '8x9', '8x10', '9x0', '9x1', '9x2', '9x3', '9x4', '9x5', '9x6', '9x7', '9x8', '9x9', '9x10', '10x0', '10x1', '10x2', '10x3', '10x4', '10x5', '10x6', '10x7', '10x8', '10x9', '10x10', '11x0', '11x1', '11x2', '11x3', '11x4', '11x5', '11x6', '11x7', '11x8', '11x9', '11x10', '12x0', '12x1', '12x2', '12x3', '12x4', '12x5', '12x6', '12x7', '12x8', '12x9', '12x10', '13x0', '13x1', '13x2', '13x3', '13x4', '13x5', '13x6', '13x7', '13x8', '13x9', '13x10', '14x0', '14x1', '14x2', '14x3', '14x4', '14x5', '14x6', '14x7', '14x8', '14x9', '14x10', '15x0', '15x1', '15x2', '15x3', '15x4', '15x5', '15x6', '15x7', '15x8', '15x9', '15x10', '16x0', '16x1', '16x2', '16x3', '16x4', '16x5', '16x6', '16x7', '16x8', '16x9', '16x10', '17x0', '17x1', '17x2', '17x3', '17x4', '17x5', '17x6', '17x7', '17x8', '17x9', '17x10', '18x0', '18x1', '18x2', '18x3', '18x4', '18x5', '18x6', '18x7', '18x8', '18x9', '18x10'])

In [11]:
smaller = smaller[smaller['Repeats'] != 'Be the first to repeat this problem'] # drop low repeats
smaller['Repeats']

0                              20928 repeats
1                              29496 repeats
2                                612 repeats
3                               7494 repeats
4                                221 repeats
                        ...
50596                              2 repeats
50597    1 climber has repeated this problem
50599                               Srepeats
50600                              3 repeats
50602                              2 repeats
Name: Repeats, Length: 31421, dtype: object

In [12]:
vals = smaller['Repeats'].values

for i in range(len(vals)):
    vals[i] = vals[i].rstrip('repeats')
    vals[i] = vals[i].rstrip('climber has repeated this problem')
    vals[i] = vals[i].replace('S','5')

vals

In [13]:
print(vals)

['20928' '29496' '612' ... '5' '3' '2']

In [14]:
smaller['Repeats'] = pd.to_numeric(smaller['Repeats'], errors = 'coerce')

In [15]:
grades = smaller['Grade'].values
grades

array(['6B+ (User grade 6B+)', '6B+ (User grade 6B+)',
       '6B+ (User grade 6B+)', ..., '7C (User grade 7B+)',
       '6C (User grade 6C)', '7A (User grade 7A)'], dtype=object)

In [16]:
for i in range(len(grades)):
    grades[i] = (grades[i].split('(')[0].replace('TA+', '7A+').replace('TAt', '7a+').replace('baT','6a+').replace('++','+').strip())
    if grades[i].isupper():
        pass
    else:
        grades[i] = grades[i].swapcase()

In [17]:
'7a+'.swapcase()

'7A+'

In [18]:
def valid_grade(grade):
    return grade in ['6B+', '7A', '7B', '7A+', '6C+', '7B+', '6C', '7C', '7C+','6B', '8A', '8B', '8A+', '8B+']

In [19]:
smaller

,Name,Creator,Repeats,Grade,1x0,1x1,1x2,1x3,1x4,1x5,...,18x1,18x2,18x3,18x4,18x5,18x6,18x7,18x8,18x9,18x10
0,FAR FROM THE MADDING CROWD,Ben Moon,20928.0,6B+,N,N,N,N,N,N,...,N,N,F,N,N,N,N,N,N,N
1,WUTHERING HEIGHTS,Ben Moon,29496.0,6B+,N,N,N,N,N,N,...,N,N,N,F,N,N,N,N,N,N
2,PROBLEM 3,Ally Patrick,612.0,6B+,N,N,N,N,N,N,...,N,N,N,N,N,N,N,F,N,N
3,HARD TIMES,Ben Moon,7494.0,7A,N,N,N,N,N,N,...,N,N,N,N,N,N,N,F,N,N
4,PROBLEM 5,Ally Patrick,221.0,7A,N,N,N,N,N,N,...,N,N,F,N,N,N,N,N,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50596,LEFT HAND TRAINING #1,cloud,2.0,6B+,N,N,N,N,N,N,...,N,N,F,N,N,N,N,N,N,N
50597,MCJORDAN,PhatRox,1.0,7B,N,N,N,N,N,N,...,N,N,F,N,N,N,N,N,N,N
50599,BLADE OF MIQUELLA,Wilburine,5.0,7C,N,N,N,N,N,N,...,N,N,N,N,N,N,N,N,N,N
50600,MUSCLE UP,Karel,3.0,6C,N,N,N,N,N,N,...,N,N,N,F,N,N,N,N,N,N
50602,BLACKSMITH,hadi,2.0,7A,N,N,N,N,N,N,...,N,N,N,N,N,N,N,N,N,N

In [20]:
smaller = smaller[smaller['Repeats'] > 4]

In [21]:
smaller

,Name,Creator,Repeats,Grade,1x0,1x1,1x2,1x3,1x4,1x5,...,18x1,18x2,18x3,18x4,18x5,18x6,18x7,18x8,18x9,18x10
0,FAR FROM THE MADDING CROWD,Ben Moon,20928.0,6B+,N,N,N,N,N,N,...,N,N,F,N,N,N,N,N,N,N
1,WUTHERING HEIGHTS,Ben Moon,29496.0,6B+,N,N,N,N,N,N,...,N,N,N,F,N,N,N,N,N,N
2,PROBLEM 3,Ally Patrick,612.0,6B+,N,N,N,N,N,N,...,N,N,N,N,N,N,N,F,N,N
3,HARD TIMES,Ben Moon,7494.0,7A,N,N,N,N,N,N,...,N,N,N,N,N,N,N,F,N,N
4,PROBLEM 5,Ally Patrick,221.0,7A,N,N,N,N,N,N,...,N,N,F,N,N,N,N,N,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50572,COWARDICE,K35690,9.0,6B+,N,N,N,N,N,N,...,N,N,N,N,N,N,N,F,N,N
50577,REHABILITATION,Michael Flynn,18.0,6B+,N,N,N,N,N,N,...,F,N,N,N,N,N,N,N,N,N
50591,LLAMA DEL REY,Sméagol,27.0,6B+,N,N,N,N,N,N,...,N,N,N,N,N,F,N,N,N,N
50594,ISLAND LARD,Bonzu3,5.0,6C+,N,N,N,N,N,N,...,N,N,N,F,N,N,N,N,N,N
50599,BLADE OF MIQUELLA,Wilburine,5.0,7C,N,N,N,N,N,N,...,N,N,N,N,N,N,N,N,N,N

In [22]:
data = smaller.drop(labels = ['Creator', 'Name'], axis = 1)

In [23]:
grades = ['6B+', '7A', '7B', '7A+', '6C+', '7B+', '6C', '7C', '7C+','6B', '8A', '8B', '8A+', '8B+']
valid = []
for grade in data['Grade']:
    if grade in grades:
        valid.append(True)
    else:
        valid.append(False)

num_v = np.array(valid)

In [24]:
grades.sort()
grades

['6B',
 '6B+',
 '6C',
 '6C+',
 '7A',
 '7A+',
 '7B',
 '7B+',
 '7C',
 '7C+',
 '8A',
 '8A+',
 '8B',
 '8B+']

In [25]:
data = data[num_v]

In [27]:
data.to_csv("data.csv", index = False)